<h2>Searched policy {{name}} information </h2>
<ul class="client-card">
  <li> policy id:{{id}}</li>
  <li> amount insured:{{amountInsured}}</li>
  <li> email :{{email}}</li>
  <li> inception Date:{{inceptionDate}}</li>
  <li> installment Payment:{{installmentPayment}}</li>
  <li> client Id:{{clientId}}</li>
</ul>