<h2>policie's page</h2>
{{#each policies}}
<ul class="policy-card">
  <p>policy id:{{id}}</p>
  <p>amount Insured:{{amountInsured}}</p>
  <p>Inception Date:{{inceptionDate}}</p>
  <p>installment payment done:{{installmentPayment}}</p>
  <p>client Id:{{clientId}}</p>
</ul> 
{{/each}}