<h2>Searched user {{name}} information </h2>
<ul class="client-card">
  <li> client id:{{id}}</li>
  <li> client name:{{name}}</li>
  <li>client email:{{email}}</li>
  <li> user rule:{{role}}</li>
</ul>